.Rproj.user
.Rhistory
.RData
.Ruserdata
.drake/
.drake_history/
/output/drake-cache.sqlite
/analysis/*.html
/doc
/docs
Meta
/inst/extdata/subsampled/breed-bird-survey-prepped
/inst/extdata/subsampled/biotime-prepped
/inst/templates/template-README.html
README_cache
